.botao {
  display: flex;
  gap: 5px;
  padding: 5px 10px;
  background: var(--cor-02);
  border-radius: 4px;
  transition: 0.3s;
}

.botao:hover {
  background: var(--cor-04);
}

.botao.main {
  background: var(--gradiente);
  color: #303727;
}

.botao.main:hover {
  background: var(--gradiente02);
}