.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0 20px 0;
}

.header ul {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.header li a {
  padding: 10px 20px;
  border-radius: 4px;
  text-transform: uppercase;
  transition: 0.3s;
}

.header li a:hover {
  background: var(--cor-03);
}

@media (max-width: 800px) {
  .header li a:hover {
    background: transparent;
  }
}

@media (max-width: 600px) {
  .header img {
    width: 239.25px;
    height: 30px;
  }
}

@media (max-width: 400px) {
  .header img {
    width: 199.375px;
    height: 25px;
  }
}

@media (max-width: 350px) {
  .header img {
    width: 159.5px;
    height: 20px;
  }
}