.formacao-bg {
  background: var(--cor-12);
}

.formacao-cs-id {
  display: grid;
  gap: 24px;
  align-self: start;
}

.img-titulo {
  display: flex;
  gap: 12px;
  align-items: center;
}


.cursos-idiomas,
.formacao-aprendizado,
.formacao-lista li {
  display: flex;
  justify-content: space-between;
}

.formacao-lista {
  display: grid;
  gap: 12px;
}

.formacao-lista li {
  display: flex;
  align-items: center;
  gap: 60px;
}

.formacao-lista li>p {
  line-height: 1.25;
}

@media (max-width: 1000px) {
  .formacao-aprendizado {
    gap: 50px;
  }

  .formacao-lista li {
    gap: 20px;
  }
}

@media (max-width: 800px) {
  .formacao-lista {
    gap: 6px;
  }

  .formacao-cs-id {
    gap: 12px;
  }

  .cursos-idiomas {
    max-width: 500px;
  }
}

@media (max-width: 600px) {
  .formacao-aprendizado {
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
  }

  .formacao-lista li {
    gap: 100px;
  }
}

@media (max-width: 400px) {
  .formacao-lista li {
    align-items: start;
  }
}

@media (max-width: 325px) {
  .formacao-lista li {
    gap: none;
  }
}