.introducao {
  display: grid;
  gap: 30px;
}

.introducao p {
  display: flex;
  align-items: center;
  gap: 12px;
}

.introducao h1 {
  position: relative;
}

.introducao h1::before {
  content: "";
  display: block;
  position: absolute;
  background: url(../../img/dec/detalhe.svg) no-repeat center;
  width: 140px;
  height: 140px;
  z-index: -1;
  left: -50px;
  top: -30px;
}

@media (max-width: 600px) {
  .introducao h1::before {
    width: 30px;
    height: 10px;
    left: 0;
  }
}